.winner-window__wrapper {
    z-index: 9;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -124px;

    @media screen and (max-width: 1300px) {
        margin-top: -5em;
    }
}

.winner-window {
    z-index: 10;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    height: 356px;
    width: 377px;

    @media screen and (max-width: 1300px) {
        height: fit-content;
        width: 26em;
    }
}

.winner-window__h1 {
    font-size: 48px;
    font-weight: 600;
    color: black;

    @media screen and (max-width: 1300px) {
        font-size: 4em;
    }
}

.winner-window__p {
    font-size: 20px;
    color: black;

    @media screen and (max-width: 1300px) {
        font-size: 2em;
    }
}

.winner-window__button {
    all: unset;
    background-color: #A7ED6F;
    color: #404040;
    padding: 12px 24px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 20px;

    font-family: Montserrat;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;

    &:hover {
        background-color: #d6c3eb;
        transition: ease-in-out .2s all;
    }

    @media screen and (max-width: 1300px) {
        font-size: 1.5em;
    }
}