.game__cell, .game__cell_player-red, .game__cell_player-blue {
    width: var(--cell-size, 70px);
    height: var(--cell-size, 70px);
    border-radius: 100%;
    box-sizing: border-box;
}

.game__cell {
    cursor: pointer;
    opacity: 50%;
    box-shadow: inset 0px 2em 2em 0px rgba(0, 0, 0, 0.25);
    background: radial-gradient(154.00% 155.00% at 50% 74%,rgba(211.00778198242188, 181.59555053710938, 239.0625, 0.09),rgba(89.93663787841797, 22.27949333190918, 154.4711456298828, 0.09) 100%);
}

.game__cell_player-red {
    animation: variableDrop 0.5s ease-out;
    box-shadow: 0px 1em 1em 0px rgba(0, 0, 0, 0.25);
    border: 13px solid rgba(161, 0, 0, 1);
    background: linear-gradient(137.54deg, rgba(231.70672607421875, 74.63629913330078, 74.63629913330078, 1),rgba(129.7067413330078, 41.78053283691406, 41.78053283691406, 1) 100%);

    @media screen and (max-width: 600px) {
        border-width: 0.5em;
    }
}

.game__cell_player-blue {
    animation: variableDrop 0.5s ease-out;
    box-shadow: 0px 1em 1em 0px rgba(0, 0, 0, 0.25);
    border: 13px solid rgba(11, 0, 161, 1);
    background: linear-gradient(140.65deg, rgba(74.63629913330078, 124.3752670288086, 231.70672607421875, 1),rgba(47.64228057861328, 41.78053283691406, 129.7067413330078, 1) 100%);

    @media screen and (max-width: 600px) {
        border-width: 0.5em;
    }
}

.game__cell-win {
    transition: all .2s ease-in-out;
    border: 13px solid rgb(155, 93, 0);
    background: linear-gradient(137.54deg, rgb(255, 171, 16),rgb(138, 75, 4) 100%);

    @media screen and (max-width: 600px) {
        border-width: 0.5em;
    }
}

@keyframes variableDrop {
    0% {
        transform: translateY(var(--drop-height, -200px));
        opacity: 0;
    }
    70% {
        transform: translateY(5px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}