.settings {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    padding-top: 124px;

    @media screen and (max-width: 1300px) {
        gap: 2em;
        padding-top: 6em;
    }
}

.settings__buttons {
    display: flex;
    justify-content: space-between;
    width: 1150px;

    @media screen and (max-width: 1300px) {
        width: 90%;
    }
}

.settings__options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1150px;

    @media screen and (max-width: 1300px) {
        gap: 1em;
        width: 90%;
    }
}

.settings__option {
    display: flex;
    gap: 60px;
    align-items: center;
    width: fit-content;

    background-color: #454545;
    border-radius: 100px;

    padding: 12px 24px;

    @media screen and (max-width: 1300px) {
        padding: 1em 2em;
        gap: 1em;
    }
}

.settings__button {
    all: unset;
    background-color: #CBA4F5;
    padding: 12px 24px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 20px;

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        background-color: #d6c3eb;
        transition: ease-in-out .2s all;
    }

    @media screen and (max-width: 1300px) {
        font-size: 1em;
        padding: 1em 2em;
        gap: 1em;
    }
}

.green {
    background-color: #A7ED6F;
    color: #404040;
    font-weight: 800;
}

.settings__buttons-container {
    display: flex;
    gap: 20px;
}